node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

tests-examples
tests/example.spec.ts
tests/test-1.spec.ts
tests/test-2.spec.ts
tests/test-3.spec.ts
tests/test-4.spec.ts
tests/youtube.spec.ts
.env